# Data Types :- session 2

- integer               -----    int 
- float                 -----    float 
- strings               -----    str 
- boolean               -----    bool 
- complex conjugate     -----    complex

$integer$

In [4]:
number=100
print (number)
type(number)

100

int

In [5]:
# type of variable : type 
type(number)

int

# in maths we have different number Systems 
- decimal 
- binary 
- octal 
- hexa

#### Binary 
- Bi means 2 
- so the bae is also 2 
- 0 1 2 3 4 5 6 7 8 9 
- here will use only two digits : 0 and 1 
- representation is : 0b <combination of 0 and 1> 
- ob110, 0B011101

In [7]:
0b111
# Python output will come as decimal format only

7

In [8]:
0b1010111

87

In [9]:
# 3 digits = 4 2 1 
# 4 digits = 8 4 2 1 
# 5 digits = 16 8 4 2 1

- 4 = 4 times 0 and 4 times 1 
- 2 = 2 times 0 and 2 times 1 
- 1 = 1 times 0 and 1 times 1 

ON=1 
Off=0

# example 
**********************************
- 4    2    1        decimal output 
**********************************
- 0    0    0       -   0
- 0    0    1       -   1
- 0    1    0       -   2
- 0    1    1       -   3
- 1    0    0       -   4
- 1    0    1       -   5
- 1    1    0       -   6
- 1    1    1       -   7

### Example 2 

**********************************
- 8   4    2    1        decimal output 
**********************************
- 0   0    0    0          0
- 0   0    0    1          1
- 0   0    1    0          2
- 0   0    1    1          3
- 0   1    0    0          4
- 0   1    0    1          5
- 0   1    1    0          6
- 0   1    1    1          7

$Octa $

- octa means 8 
- so the base is also 8 
- 0 1 2 3 4 5 6 7 8 9 
- here will use only eight digit ( 0 1 2 3 4 5 6 7 )
- representation is : 0o +combination of numbers
    - eg: 0o123, 0o7564

In [10]:
0o123

83

In [11]:
0O756

494

$Hexa$

- hexa means 16 
- so the base is also 16 
- 0 1 2 3 4 5 6 7 8 9, A B C D E F 
- here will use only 16 digits ( 0 to 9 and A to F )
- representation is : 0x<combination 0 to 9 and A to F>
    - eg: 0xabc, 0X9DF

In [12]:
0xabc

2748

In [13]:
0X9DF

2527

$FLOAT$

In [14]:
number=123.45
number

123.45

In [15]:
type(number)

float

$ e- representation$

In [16]:
10e3      # 10 * 1000 = 10000

10000.0

In [17]:
10e+3

10000.0

##### note :- 10e3 and 10e+3 both are same

In [19]:
10e-3       # 10/1000 = 0.01

0.01

$Strings$

In [20]:
name="python" # write any thing in quotes

In [21]:
name

'python'

In [22]:
type(name)

str

In [23]:
name1="100"
type(name1)

str

In [24]:
name2='how are you'

In [25]:
type(name2)

str

In [26]:
name2

'how are you'

In [27]:
name3="hi 
         how are you"
name3

SyntaxError: unterminated string literal (detected at line 1) (2725148467.py, line 1)

In [28]:
name4='hi 
how are you'
name4

SyntaxError: unterminated string literal (detected at line 1) (3842019986.py, line 1)

In [29]:
# whenever you want to write multi lines in a single string - use triple quotes 

name5= """"hi
           how are you"""
name5

'"hi\n           how are you'

In [2]:
# Doc string is very important ----- tripple quotes 
# jupyter notebook :