# Type Casting :

- change data type to another data type
    - int -------> float
    - int -------> string
    - int -------> boolean
    - int -------> complex

$1. Integer$

In [2]:
number1=100
number1

100

In [3]:
type(number1)

int

In [5]:
# case1:- int        ==============> float 
float_number=float(number1)         # number1 to float type 100

In [6]:
float_number

100.0

In [7]:
type(float_number)

float

In [8]:
# case2: int =======> string 
string_number=str(number1)

In [9]:
string_number

'100'

In [10]:
type(string_number)

str

In [11]:
#case3: int===============> boolean 

boolean_number=bool(number1) 
boolean_number

True

In [12]:
type(boolean_number)

bool

In [13]:
bool(0)                  # when it will provide false

False

$Note$

- other than zero, everything is True 
- bool(0) only False

In [15]:
# case4: int to complex 

complex_number=complex(number1)
complex_number

(100+0j)

In [17]:
number1=100
float_number=float(number1)      # float(100)     = 100.0
string_number=str(number1)       # str(100)       = '100'
boolean_number=bool(number1)     # bool(100)      = True 
complex_number=complex(number1)  # complex(100)   = 100+oj

## 2. Convert float to all other types

In [18]:
number2=100.5
int_number=int(number2)          # int(100)     = 100
print(int_number)
string_number=str(number2)       # str(100)       = '100.5'
print(string_number)
boolean_number=bool(number2)     # bool(100)      = True
print(boolean_number)
complex_number=complex(number2)  # complex(100)   = 100.5+oj
complex_number

100
100.5
True

(100.5+0j)

## 3. Convert string to all other types

##### case-1

In [ ]:
string_value1='apple'
int(string_value1)   # error 
float(string_value1) # error
bool(string_value1)  # True 
complex(string_value1) # error

In [19]:
string_value1='apple'
int(string_value1)

ValueError: invalid literal for int() with base 10: 'apple'

In [20]:
float(string_value1)

ValueError: could not convert string to float: 'apple'

In [21]:
bool(string_value1)

True

In [22]:
string_value=''     #empty string 
bool(string_value)

False

##### Note: 
- Empty string value in boolean is 0

In [23]:
complex(string_value1)

ValueError: complex() arg is a malformed string

#### Case-2

In [ ]:
string_value2='10.5'  # base type is float == represents in quotes ==== finally it is string type 
int(string_value2)    # error 
float(string_value2) # error
bool(string_value2)  # True 
complex(string_value2) # error

In [24]:
string_value2='10.5'  # base type is float == represents in quotes ==== finally it is string type 
int(string_value2)

ValueError: invalid literal for int() with base 10: '10.5'

In [25]:
string_value2='10.5'
float(string_value2)

10.5

In [26]:
string_value2='10.5'
bool(string_value2)

True

In [27]:
complex(string_value2)

(10.5+0j)

In [28]:
float('10')   #----------> works 
int ('10.5')  #---------> fail

ValueError: invalid literal for int() with base 10: '10.5'

In [29]:
string1='10.5'
n1=float(string1)
n2=int(n1)
n2

10

## 4. Convert boolean to all other types

In [31]:
val1=True    
int(val1)
float(val1)
str(val1)
complex(val1)

True

(1+0j)

In [32]:
val1=True    
int(val1)

1

In [33]:
float(val1)

1.0

In [34]:
str(val1)

'True'

In [35]:
complex(val1)

(1+0j)

In [36]:
val1=False   
int(val1)
float(val1)
str(val1)
complex(val1)

0j

In [37]:
int(val1)

0

In [38]:
float(val1)

0.0

In [39]:
str(val1)

'False'

In [40]:
complex(val1)

0j

## 5. Convert complex to all other types

In [43]:
val1=100+200j 
int(val1)    # error complex(100)
float(val1)  #error 
str(val1)    # gives output string
bool(val1)   # gives true

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [44]:
val1=100+200j 
int(val1)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [45]:
val1=100+200j 
float(val1)

TypeError: float() argument must be a string or a real number, not 'complex'

In [46]:
val1=100+200j 
str(val1)

'(100+200j)'

In [47]:
val1=100+200j 
bool(val1)

True